<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ip Check</title>
</head>

<body>
    <h1>Informacja o adresie IP</h1>
    <!-- <div th:text="${ip}"></div> -->

    <div th:text="${ipAddress.ip}"></div>
    <div th:text="${ipAddress.mask}"></div>
    <div th:text="${ipAddress.netAddress}"></div>
    <div th:text="${ipAddress.broadcastAddress}"></div>
    <div th:text="${ipAddress.firstAddress}"></div>
    <div th:text="${ipAddress.lastAddress}"></div>
    <div th:text="${ipAddress.numberOfAddresses}"></div>
    
    

</body>

</html>