<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Ip</title>
</head>

<body>
    <h1>Witaj <span th:text="${name}">Nieznajomy</span></h1>

    <form action="#" th:action="@{/checkip}" th:object="${ipMask}" method="get">
        <input type="text" th:field="*{ip}">
        <select th:field="*{mask}">
            <option th:each="mask : ${masksNet}" th:value="${mask.mask}" th:text="${mask.ip}"></option>
        </select>
        <input type="submit" value="Wyślij">
    </form>
</body>

</html>